<%- include('includes/head', {pageTitle: 'Login' }) %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
    </head>

    <body>
        <%- include('includes/header') %>

            <main class="auth-page">
                <h1>Not found!</h1>
                <p>We couldn't find the resource you were looking for!/p>
                    <a href="/">Back to safety!</a>
            </main>

            <%- include('includes/footer') %>