<%- include('includes/head', {pageTitle: 'Login' }) %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
    </head>

    <body>
        <%- include('includes/header') %>

            <main class="auth-page">
                <h1>Something went wrong!</h1>
                <p>Something went wrong! Please try again later!</p>
                <a href="/">Back to safety!</a>
            </main>

            <%- include('includes/footer') %>