<%- include('includes/head', {pageTitle: 'Login' }) %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
    </head>

    <body>
        <%- include('includes/header') %>

            <main class="about-page">
                <h1>And so our story begins...</h1>
                <div class="about-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid amet
                    deserunt nostrum perferendis
                    minus unde dolores fugit pariatur iure quae, autem, odio quia dignissimos odit ipsam magni veniam
                    suscipit perspiciatis!
                    Nemo ratione culpa obcaecati molestiae ex, ipsam inventore corrupti officia et laboriosam cum
                    molestias architecto facilis, tenetur quos! Cupiditate corporis voluptatem sit obcaecati quos,
                    molestiae eos vero dolorum laudantium reprehenderit!
                    Exercitationem, iure non asperiores ab voluptas voluptate enim illum vel cum dolor voluptatibus
                    quasi officiis sunt. Unde soluta, itaque cupiditate iusto molestiae natus molestias expedita commodi
                    magnam cumque quis tempore?
                    Asperiores, unde similique blanditiis eaque commodi animi eligendi beatae repellat non suscipit,
                    quod possimus nesciunt nostrum doloribus deleniti neque quaerat ab dignissimos delectus excepturi
                    voluptates, numquam at. Autem, perferendis quas.
                    Enim eius saepe exercitationem molestias officiis voluptatibus fugiat commodi quasi quam ducimus.
                    Libero eum deleniti culpa enim explicabo sed nulla ab, fuga voluptas commodi dolores officia tenetur
                    quibusdam. In, voluptate.
                    Ipsum rem repellat eius, minus dolorem officiis ducimus voluptatum eum cum quia saepe recusandae
                    perspiciatis explicabo, voluptate inventore voluptatem excepturi quo perferendis delectus
                    necessitatibus soluta sint. In mollitia odit et.
                    Ipsa dolorem distinctio animi aliquid quis mollitia numquam quidem neque deserunt autem. Commodi,
                    earum quod? Eum incidunt, molestiae cum beatae illo cupiditate porro cumque nobis fugit voluptatibus
                    pariatur, nemo placeat.
                    Rerum mollitia corrupti earum aperiam soluta, minima dicta deserunt recusandae tenetur obcaecati
                    veniam sequi tempora, unde sint veritatis nulla quos illo natus itaque et commodi! Sint harum minus
                    necessitatibus error!
                    Vero sunt nemo magnam consequatur repellendus ad perspiciatis rem, laboriosam laborum est deleniti
                    dolorum accusantium modi inventore voluptate natus voluptatibus assumenda tempore impedit hic?
                    Commodi accusamus eligendi ad atque sed!
                    Inventore culpa officia ducimus illo recusandae iste perferendis, repellat aspernatur? Odio, minima
                    dolore? Aut, veritatis. Amet, eligendi. Illum ratione vero, ab magni facilis alias, recusandae
                    temporibus et ullam excepturi dicta.</div>
            </main>

            <%- include('includes/footer') %>