<%- include('includes/head', {pageTitle: 'Login' }) %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
    </head>

    <body>
        <%- include('includes/header') %>

            <main class="contact-page">
                <div class="contact">
                    <p>Phone Number: +44 07 456 7414</p>
                    <p>Address: 4th Street London</p>
                    <p>Instagram: <a href=""></a></p>
                    <p>Facebook: <a href=""></a></p>
                </div>
            </main>

            <%- include('includes/footer') %>