<%- include('../../shared/includes/head', {pageTitle: 'Update Product' }) %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
    <link rel="stylesheet" href="/styles/products.css">
    </head>

    <body>
        <%- include('../../shared/includes/header') %>
            <main class="new-product-section">
                <h1>Update Product</h1>
                <%- include('includes/product-form', {submitPath: '/admin/products/' + product.id , product: product,
                    imageRequired: false}) %>

            </main>

            <%- include('../../shared/includes/footer') %>