<%- include('../../shared/includes/head', {pageTitle: 'Signup' }) %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
    </head>

    <body>
        <div id="logo">
            <a href="/">
                <img src="/assets/clotho-logo.png" alt="">
                <p>Clotho Bracelets</p>
            </a>
        </div>

        <main class="auth-page">
            <div class="image-container">
                <img src="/assets/signup-image.jpg" alt="onyx-bracelet">
            </div>
            <form action="/signup" method="POST" class="auth-form">
                <div class="auth-title">
                    <h1>Create New Account</h1>
                    <p>Please enter details</p>
                </div>
                <% if(inputData.errorMessage) { %>
                    <section class="alert">
                        <h1>Invalid input</h1>
                        <p>
                            <%= inputData.errorMessage %>
                        </p>
                    </section>
                    <% } %>

                        <p>
                            <label for="first-name">First Name</label>
                            <input type="text" name="first-name" id="first-name" required>
                        </p>
                        <p>
                            <label for="last-name">Last Name</label>
                            <input type="text" name="last-name" id="last-name" required>
                        </p>
                        <p>
                            <label for="email">Email Adress</label>
                            <input type="email" name="email" id="email" required>
                        </p>
                        <p>
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" required>
                        </p>
                        <button class="btn">Signup</button>
            </form>
        </main>

        <%- include('../../shared/includes/footer') %>